.myProfile{
    border: 5px solid #1A9FFF;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-left: 60px;
}

.myProfile img{
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

@media screen and  (max-width:720px){
    .myProfile{
        display: flex;
        border: 5px solid #1A9FFF;
        padding: 4vw;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }
    
    .myProfile img{
        border-radius: 10px;
        width: 120px;
        height: 120px;
    }
    
}

@media screen and (max-width:480px){
    .myProfile{
        display: flex;
        border: 5px solid #1A9FFF;
        padding: 5vw;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }
    
    .myProfile img{
        border-radius: 10px;
        width: 140px;
        height: 140px;
    }
    
}