.navigationBar{
    display: flex;
    align-items: center;
    background-color: #171d25;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 5px solid #242e38 ;
}

.navigationBar a{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

.navigationBar .active{
    color: #1A9FFF;;
    text-decoration: underline;
}


.navigationBar a:hover{
    text-decoration: underline;
    color: #1A9FFF;
}
