.box-education{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 140px;
    margin-left: 50px;
    color: white;
    width: 500px;
}
.containers{
    display: flex;
}
@media screen and (max-width:720px){
    .containers{
        display: block;
    }
}
.box-certified{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 140px;
    margin-left: 50px;
    color: white;
}

.certified{
    width: 600px;
    height: 845px;
    overf0low-y: scroll;
}

body{
    margin: 0;
    padding: 0;
    background:linear-gradient(to right, #171d25,#161f2b,#1e4541,#123336,#0e2145);
  }