.box-education{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 140px;
    margin-left: 50px;
    color: white;
    width: 500px;
}
.containers{
    display: flex;
}

.box-certified{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 140px;
    margin-left: 50px;
    color: white;
}

.certified{
    width: 600px;
    height: 845px;
    overflow-y: scroll;
}