.education-box{
    margin: 5px;
    color: white;
    padding: 20px;
    width: 400px;
    background-color: #293c55;
    transition:all 300ms ease-in-out;
    border-radius: 10px;
    border-bottom:5px #1A9FFF solid;
}

.education-box:hover{
    cursor: pointer;
    margin-left: 15px;
}

@media screen and (max-width:720px) {
    .education-box{
        width: 265px;
    }
}

@media screen and (max-width:480px){
    .education-box{
        width: 265px;
    }
}

@media screen and (max-width:420px){
    .education-box{
        width: 200px;
    }
}

@media screen and (max-width:375px){
    .education-box{
        width: 180px;
    }
}

@media screen and (max-width:320px){
    .education-box{
        width:300px ;
    }
}